---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout pageTitle="Message Sent">
  <div class="w-full mx-auto max-w-screen-xl">
    <div class="text-center mt-10">
      <Icon name="fa6-solid:check" class="text-emerald-500 w-20 h-20 mx-auto" />
    </div>
    <h1 class="text-emerald-500 text-center text-4xl my-1">Thanks for your message</h1>
    <div class="text-center text-gray-600">I'll get back to you as soon as I can!</div>
  </div>
</Layout>
