$dark-color: #073B3A;
$active-color: #33CA7F;
$light-color: #F6F4F3;
$muted-color: #e2e1df;


.container {

}

.name {
	margin-bottom: 0;
}
.email, .telephone, .address {
	margin-top: 5px;
	a {
		border-bottom-color: transparent;
	}
}
.email {

}
.telephone {
	display: none;
}
.download {
	float: right;
	margin-right: 28px;

	a {
		padding: 10px 5px;
		font-size: 14px;
		border-bottom: none;

		span {
			border-bottom: 3px solid transparent;
			transition: border-bottom-color 0.2s ease-in;
		}
	}

	a:hover, a.active {
		color: black;

		span {
			border-bottom: 3px solid #F80707;
		}
	}

	.pdfIcon {
		display: inline-block;
		vertical-align: middle;
	}
}
@media print {
	.telephone {
		display: block;
	}
	.download {
		display: none;
	}
}
.address {

}

.skillsContainer {
	display: flex;
	flex-wrap: wrap;



	ul {
		min-width: 50%;
		flex: 1;
		padding-left: 0;
		margin-top: 0;

		li {

		}

		.category {
			list-style: none;
			font-size: 1.5em;
			margin-bottom: 5px;
		}
		.item {
			margin-left: 40px;
		}
	}
	ul.last {
		margin-bottom: 0;
	}
}
.work {
	display: block;
}
.workplace, .educator {
	margin-bottom: 0;
	color: #073B3A;
}
.occupation {
	font-style: italic;
}

.skills {
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;

		border-bottom: 1px dotted #0f4509;
		margin-right: 1em;
		margin-bottom: 5px;
	}
}

.courses {
	display: block;
}

.subproject {
	margin-left: 40px;

	h4 {
		margin: 10px 0 0 0;
	}

	.annotation {
		font-size: 0.8em;
		.dates {
			font-style: italic;
		}
	}
}

.recent {
	padding-bottom: 5px;
	h5 {
		font-size: 0.9em;
		margin: 10px 0 5px 0;
	}

	.subproject {
		border-left: 2px solid #ccc;
		margin-left: 20px;
		padding-left: 20px;
	}

	.subproject + .subproject {
		margin-top: 5px;
	}

	.title {
		font-size: 0.8em;
	}

	p {
		font-size: 0.8em;
		margin: 3px 0;
	}

}

.bottomSpacer {
	height: 40px;
}

@media print {
	.container {
		font-size: 80%;
		padding: 0 15px;
	}
}