---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Home">
  <div class="w-full max-w-screen-xl mx-auto px-2.5 py-20">
    <h1 class="text-emerald-500 text-center text-5xl my-1 font-bold">Matthew Mincher</h1>
    <div class="text-center text-gray-600">Full Stack Developer.</div>
  </div>
</Layout>
