$dark-color: #073B3A;
$active-color: #33CA7F;
$light-color: #F6F4F3;
$muted-color: #e2e1df;


.heroAvatar {
	width: 120px;
	height: 120px;

	background-color: lightgray;
	margin: 40px auto 0;

	border-radius: 40px;
}
.heroTitle {
	color: $active-color;
	text-align: center;
	font-size: 48px;
	margin-bottom: 2px;
	margin-top: 2px;
}
.heroSubtitle {
	text-align: center;
	color: #535353;
}

.skillsSection {
	padding: 20px;

	display: flex;

	h2 {
		margin: 0;
	}

	.item {
		border-radius: 10px;
		flex: 1 1 auto;
		text-align: center;

		padding-top: 10px;
		padding-bottom: 10px;


		.identity {
			img {
				filter: saturate(50%);
			}
			img:hover{
				filter:none;
			}
		}
	}

	.item + .item {
		margin-left: 10px;
	}

	h3 {

	}
}

.skillsSection.server {
	background-color: rgba(189, 205, 219, 0.6);

	.item {
		background-color: #bdc9d9;
	}
}

.linksContainer {
	background-color: $dark-color;

	margin-top: 80px;
	margin-bottom: 40px;

	padding: 30px 10px 30px 10px;

	h2 {
		color: $active-color;
		opacity: 0.8;
		font-size: 32px;

		margin: 0px 0 30px;
	}


	.professional {
		margin-bottom: 30px;
	}
	.personal, .professional {
		display: flex;

		a {
			display: inline-block;
			border-bottom: none;
		}

		a + a {
			margin-left: 40px;
		}

		svg {
			color: $muted-color;
		}

		svg:hover {
			color: $active-color;
		}
	}

	.positionContainer {
		position: relative;
	}

	.map {
		position: absolute;
		top:-60px;
		right:-60px;
		bottom:-60px;
		background-color: white;
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid $muted-color;

		img {
			width: 488px;
			height: 310px;
		}
	}

}