---
interface Props {
  overlap?: boolean;
}

const { overlap = false } = Astro.props;
const year = new Date().getFullYear();
---

<footer class={`bg-stone-100 border-t border-stone-200 py-6 text-sm text-stone-500 box-border print:hidden px-5 ${overlap ? "lg:-mt-14" : ""}`}>
  <div class="w-full mx-auto max-w-screen-xl">
    &copy; Matthew Mincher {year}
  </div>
</footer>
