$dark-color: #073B3A;
$active-color: #33CA7F;
$light-color: #F6F4F3;
$muted-color: #e2e1df;

.main {
    background-color: $light-color;
    border-top: 5px solid $muted-color;

    min-height: 60px;
}