---
const year = new Date().getFullYear();
---

<footer class="bg-stone-100 border-t border-stone-200 py-6 text-sm text-stone-500 box-border print:hidden px-5">
  <div class="w-full mx-auto max-w-screen-xl">
    &copy; Matthew Mincher {year}
  </div>
</footer>
