---
const year = new Date().getFullYear();
---

<footer class="bg-stone-100 border-t-4 border-stone-300 min-h-12 py-3 text-xs text-stone-600 box-border print:hidden px-2.5">
  <div class="w-full mx-auto max-w-screen-xl">
    &copy; Matthew Mincher {year}
  </div>
</footer>
