---
import { Icon } from "astro-icon/components";

const pathname = Astro.url.pathname;

const isHome = pathname === "/";
const isCv = pathname.startsWith("/cv");
const isBlog = pathname.startsWith("/blog");
const isProjects = pathname.startsWith("/projects");
const isContact = pathname.startsWith("/contact");

const linkClass =
  "self-center text-xl leading-8 font-bold decoration-0 text-emerald-900 border-t-2 border-b-2 border-transparent transition-all duration-200 ease-in-out hover:text-emerald-500";
const activeClass = "text-emerald-500 border-b-emerald-500";

const contactClass =
  "self-center py-1 px-5 leading-6 font-bold decoration-0 text-emerald-900 border-2 border-emerald-900 rounded-2xl transition-all duration-200 ease-in-out hover:text-stone-100 hover:bg-emerald-900 whitespace-nowrap";
const contactActiveClass = "text-stone-100 bg-emerald-900";
---

<nav class="bg-stone-100 border-b border-stone-200 print:hidden">
  <div class="w-full mx-auto h-16 px-5 flex flex-grow flex-shrink-0 max-w-screen-xl">
    <ul class="m-0 p-0 list-none flex gap-x-3 sm:gap-x-6">
      <li class="flex flex-grow-0 flex-shrink flex-row">
        <a
          href="/"
          class:list={[linkClass, isHome && activeClass]}
        >
          Home
        </a>
      </li>
      <li class="flex flex-grow-0 flex-shrink flex-row">
        <a
          href="/cv/"
          class:list={[linkClass, isCv && activeClass]}
        >
          CV
        </a>
      </li>
      <li class="flex flex-grow-0 flex-shrink flex-row">
        <a
          href="/blog/"
          class:list={[linkClass, isBlog && activeClass]}
        >
          Blog
        </a>
      </li>
      <li class="flex flex-grow-0 flex-shrink flex-row">
        <a
          href="/projects/"
          class:list={[linkClass, isProjects && activeClass]}
        >
          Projects
        </a>
      </li>
    </ul>

    <ul class="m-0 p-0 list-none flex ml-auto text-right">
      <li class="flex flex-grow-0 flex-shrink flex-row">
        <a
          href="/contact/"
          class:list={[contactClass, isContact && contactActiveClass]}
        >
          <Icon name="fa6-solid:envelope" class="w-5 h-5 sm:hidden" />
          <span class="hidden sm:inline">Get in Touch</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
